<div data-role="header">
	<h1>Ãreas</h1>
</div><!-- /header -->

<div data-role="content">
	<ul data-role="listview">
		<% @areas.each do |area| %>
			<li>
				<%= link_to area.nome, categorias_mobile_path(area.id) %>
			</li>
		<% end %>
	</ul>

</div><!-- /content -->