<div data-role="header"  data-theme="b" data-position="inline">
	<%= link_to "Voltar", "#", "data-rel" => "back", "data-direction" => "reverse", "data-icon" => "arrow-l" %>
	<h1>Ãreas</h1>
</div><!-- /header -->

<div data-role="content">
	<ul data-role="listview" data-theme="d">
		<% @areas.each do |area| %>
			<li>
				<%= link_to area.nome, categorias_mobile_path(area.id) %>
			</li>
		<% end %>
	</ul>

</div><!-- /content -->