<div data-role="header" data-theme="b">
	<h1><%= @area.nome%></h1>
</div><!-- /header -->

<div data-role="content">
	<ul data-role="listview">
		<% @categorias.each do |categ| %>
			<li>
				<%= link_to categ.nome, perfis_mobile_path(categ.id) %>
			</li>
		<% end %>
	</ul>

</div><!-- /content -->